* {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    background: rgb(5, 185, 230);
    padding-top: 30px;
}

.box-shadow {
    box-shadow: -5px 4px 40px -15px #000000;
}

.navbar-noradius {
    border-radius: 0;
}

.footer {
    margin: 2em 0;
    padding: 1.5em 0 1em 0;
    background-color: #f8f8f8;
}

.footer>p {
    text-align: center;
}

.pagination {
    background-color: #f8f8f8;
}
