{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{ activity.title }}
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<!--START DETIAL-->
<div class="main box-shadow">
    <h2 class="text-center">{{ activity.title }}</h2>
    <div class="row">
        <div class="col-md-6 col-md-push-3 activity-time">
            <ul class="list-inline text-center">
                <li>开始时间：{{ activity.stime }}</li>
                <li>结束时间：{{ activity.ftime }}</li>
            </ul>
        </div>
        <div class="col-md-1 col-md-push-5">
            {% if is_select %}
            <button class="btn btn-block btn-primary text-center">已报名</button>
            {% elif user.is_authenticated %}
            <form action="{% url 'select' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-block btn-primary text-center" value="报名"></input>
                <input type="hidden" value="{{ activity.pk }}" name="activity">
            </form>
            {% else %}
            <p>未登录</p>
            {% endif %}
        </div>
    </div>
    <hr>
    <div>
        <p>{{ activity.content|safe }}</p>
    </div>
    <hr>
    <div class="text-right">
        <p>{{ activity.user_id.name }}</p>
        <p>{{ activity.ctime }}</p>
    </div>
</div>
<!--END DETIAL-->
{% endblock content %}

{% block js %}{% endblock js %}