{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />

{% endblock css %}

{% block content %}
<!--START BANNAR-->
<div class="bannar box-shadow">
    <div class="row">
        <div class="col-xs-7">
            <img src="image/logo.png" alt="logo">
            <h2>活动标题</h2>
            <p>这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。这里是内容，啦啦啦。</p>
            <div>
                <span></span>
            </div>
            <button class="btn btn-primary">点击进入</button>
        </div>
        <div class="col-xs-5"></div>
    </div>
</div>
<!--END BANNAR-->

<!--START ENTRANCE-->
<div class="row">
    <div class="col-xs-4">
        <a href="" class="entrance entrance1 box-shadow">
            <h3>历史活动</h3>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="" class="entrance entrance2 box-shadow">
            <h3>查询入口</h3>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="" class="entrance entrance3 box-shadow">
            <h3>系统公告</h3>
        </a>
    </div>
</div>
<!--END ENTRANCE-->
{% endblock content %}