{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
首页
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/index.css' %}" />

{% endblock css %}

{% block content %}
<!--START BANNAR-->
<div class="bannar box-shadow">
    <div class="row">
        <div class="col-xs-7">
            <img src="{% static 'image/logo.png' %}" alt="logo">
            {% if latest_activity %}
            <h2>{{ latest_activity.title }}</h2>
            <p>{{ latest_activity.content|striptags }}</p>
            <a class="btn btn-primary" href="{% url 'act_dtl' latest_activity.pk %}">点击进入</a>
            {% else %}
            <h2>暂无活动</h2>
            <p>班长那个大懒蛋不想发活动，我能怎么办~嘤嘤嘤~</p>
            {% endif %}


        </div>
    </div>
</div>
<!--END BANNAR-->

<!--START ENTRANCE-->
<div class="row">
    <div class="col-xs-4">
        <a href="{% url 'act_list' %}" class="entrance entrance1 box-shadow">
            <h3>历史活动</h3>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="{% url 'act_list' %}" class="entrance entrance2 box-shadow">
            <h3>查询入口</h3>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="{% url 'sysnotice' %}" class="entrance entrance3 box-shadow">
            <h3>系统公告</h3>
        </a>
    </div>
</div>
<!--END ENTRANCE-->
{% endblock content %}

{% block js %}

{% endblock js %}