{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
首页
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/index.css' %}" />

{% endblock css %}

{% block content %}
<!--START BANNAR-->
<div class="bannar box-shadow">
    <div class="row">
        <div class="col-xs-7">
            <img src="{% static 'image/logo.png' %}" alt="logo">
            <h2>{{ latest_activity.title }}</h2>
            <p>{{ latest_activity.content }}</p>
            <button class="btn btn-primary">点击进入</button>
        </div>
    </div>
</div>
<!--END BANNAR-->

<!--START ENTRANCE-->
<div class="row">
    <div class="col-xs-4">
        <a href="" class="entrance entrance1 box-shadow">
            <h3>历史活动</h3>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="" class="entrance entrance2 box-shadow">
            <h3>查询入口</h3>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="" class="entrance entrance3 box-shadow">
            <h3>系统公告</h3>
        </a>
    </div>
</div>
<!--END ENTRANCE-->
{% endblock content %}

{% block js %}

{% endblock js %}