{% extends "base.html" %}
{% load staticfiles %}

{% block title %}

{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/list.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
{% endblock css %}

{% block content %}
<!--START MAIN-->
<div class="main box-shadow">
    <div class="search">
        <form action="{% url 'act_list' %}" method="GET">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" value="" class="timepick form-control" data-date-format="yyyy-mm-dd hh:ii"
                                placeholder="起始日期" name="start_time" />
                        </div>
                        <div class="col-xs-6">
                            <input type="text" value="" class="timepick form-control" data-date-format="yyyy-mm-dd hh:ii"
                                placeholder="截至日期" name="end_time" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="act_type">
                        <option>全部</option>
                        {% for act_type in act_types %}
                        <option>{{ act_type.act_type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xs-7 text-center" style="padding-top:0.5em;">
                            <input type="checkbox" name="apply_only">仅已报名
                        </div>
                        <div class="col-xs-5">
                            <input type="hidden" name="is_select" value="1">
                            <button type="submit" class="btn btn-default btn-block">查询</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <div class="list-box">
        <div class="row list-top">
            <div class="col-md-5">
                活动名称
            </div>
            <div class="col-md-7">
                <div class="col-xs-6" style="padding:0; ">
                    <div class="row">
                        <div class="col-md-6">报名开始时间</div>
                        <div class="col-md-6">报名截止时间</div>
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="row">
                        <div class="col-md-6">报名人数/总数</div>
                        <div class="col-md-6">发起人</div>
                    </div>
                </div>
            </div>
        </div>
        {% for activity in activities %}
        <div class="row list">
            <div class="col-md-5" style="margin: 0.6em 0;">
                <a href="{% url 'act_dtl' activity.pk %}">
                    {{ activity.title }}
                </a>
                <span class="label label-warning">进行中</span>
                <span class="label label-success">已报名</span>
            </div>
            <div class="col-md-7">
                <div class="col-xs-6" style="padding:0; margin: 0.6em 0;">
                    <div class="row">
                        <div class="col-md-6">{{ activity.stime|date:"m月d日 H:i" }}</div>
                        <div class="col-md-6">{{ activity.ftime|date:"m月d日 H:i" }}</div>
                    </div>
                </div>
                <div class="col-xs-6 text-right" style="margin: 0.6em 0;">
                    <div class="row">
                        <div class="col-md-6">{{ activity.cnt }}/{{ activity.max_num }}</div>
                        <div class="col-md-6">{{ activity.user_id.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
<!--END MAIN-->
{% endblock content %}

{% block js %}
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.zh-CN.js' %}"></script>

<script>
    $('.timepick').datetimepicker({
        language: 'zh-CN',
        weekStart: 0,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 0,
        forceParse: 0,
    });
</script>
{% endblock js %}