{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}欢迎访问CMAS{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'image/logo.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login.css' %}" />
</head>

<body>

    <div class="container">


        <!--START LOGIN-->
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <div class="login box-shadow">
                    <h2 class="text-center">修改密码</h2>
                    {% if error_message %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        {{ error_message }}
                    </div>
                    {% endif %}
                    <form action="{% url 'change_passwd' %}" class="form-horizontal" role="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old_password" class="col-sm-2 control-label">原密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="请输入原密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_password" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="请输入新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password" class="col-sm-2 control-label">请确认</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="请再输入一遍新密码">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">修改</button>
                        <p class="text-center" style="margin: 1em 0 0;">GPLv3 licensed by <a href="https://github.com/withon/cmas/" target="_blank">CMAS</a> 2018 </p>
                    </form>
                </div>
            </div>
        </div>
        <!--END LOGIN-->

    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>